<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogs</title>

	<!-- JQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>


	<!-- Blog container starts from here -->
	<section id="blog-container">
		<div class="blogs">
            <h2><b>Top Schools in Chennai</b></h2>
			<div class="post">
 
				<img src="assets\s1.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 1</h4> -->
				<h3>1. Delhi Public School</h3>
                
				<p>
                    Delhi Public School Uniworld City, one of the top schools in Chennai, was established by the Delhi Public School Society in 2013. 
					The school provides education from kindergarten to tenth grade and is recognized by the Central Board of Secondary Education (CBSE) in New Delhi. 
					Its original driving force was a commitment to making education accessible to all members of society.
				</p>
				<a href="/college1">Read More</a>
			</div>
			<div class="post">
               
				<img src="assets\s2.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 13</h4> -->
				<h3>2. Ryan International School</h3>
				<p>
					Ryan International School Sriperumbudur, one of the best schools in Chennai, which opened in 2013, is dedicated to providing an environment that fosters student’s academic development and personal growth. 
					Respect, honesty, hard effort, self-discipline, justice, and care are just some of the qualities that are found here. 
					This school, among other CBSE schools, is one of the best CBSE schools in Chennai.</p>
				<a href="/college2">Read More</a>
			</div>
            <div class="post">
             
				<img src="assets\s3.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 28</h4> -->
				<h3>3. Chettinad Vidyashram</h3>
              
				<p>
					Chettinad Vidyashram is the brainchild of Dr. Mrs. Meena Muthiah. She is also the current senior principal of the school. Chettinad was established with the mission to shape young minds through holistic development. Today, thanks to this vision and the faculty’s dedication, it is one of the best schools in Chennai.</p>
				<a href="/college3">Read More</a>
			</div>
			<div class="post">
              
				<img src="assets\s4.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 45</h4> -->
				<h3>4. Maharishi Vidya Mandir</h3>
				<p>
					Maharishi Vidya Mandir Chetpet, one of the top schools in Chennai, first opened its doors in 1983, with Yoganas, Pranayama, and Transcendental Meditation being an essential element of its curriculum. 
					There is a comprehensive response to raising students’ levels of awareness throughout all domains of education, including the classroom, extracurricular activities, cultural celebrations, service movements, sports, technology-enhanced education, and the cultivation of the student’s unique character. 
					The school is affiliated to the CBSE board and is one of the best cbse schools in Chennai.
</p>
				<a href="/college4">Read More</a>
			</div>
            <div class="post">
                
				<img src="assets\s5.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 65</h4> -->
				<h3>5. Orchids The International School</h3>
				<p>
					Orchids The International School, one of the best schools in Chennai, is a top-notch international CBSE institution. The school admission is open for students in Early Childhood (from 3 years) to grade 5. Orchids at Thoraipakkam is one of the best CBSE schools in Chennai since it adheres to the highest international educational standards. The institution’s overarching goal is to unite students’ academic and extracurricular pursuits. The school provides a setting where kids may develop and hone their skills using state-of-the-art facilities (such as playgrounds, skating rinks, basketball courts, swimming pools, libraries, and activity rooms).</p>
				<a href="/college5">Read More</a>
			</div>
            <div class="post">
                
				<img src="assets\s6.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 66</h4> -->
				<h3>6. National Public School</h3>
				<p>
					National Public School, one of the best schools in Chennai, was founded in 1970 and the Gopalapuram district is home to it. 
					The Central Board of Secondary Education has accorded NPS Gopalapuram the status of permanent affiliation. 
					Its stellar performance in the classroom and extracurricular activities, such as the personality development program, has served as a yardstick for measuring its success. 
					It is one of the best CBSE schools in Chennai.
				</p>
				<a href="/college6">Read More</a>
			</div>
            <div class="post">
               
				<img src="assets\s7.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 86</h4> -->
				<h3>7. Air Force School</h3>
				<p>
					The Air Force School was established in 1948 and is considered as one of the top schools in Chennai.
					 The school is a Central Board of Secondary Education–recognized, coeducational institution (CBSE). The IAF Educational & Cultural Society is in charge of it.
					 This is one of the best cbse schools in Chennai.
				</p>
				<a href="/college7">Read More</a>
			</div>
            <div class="post">
               
				<img src="assets\s8.jpg" alt="">
                <!-- <h4>NIRF'23 Rank: 87</h4> -->
				<h3>8. Velammal Vidhyashram</h3>
				<p>
					Velammal Vidhyashram, one of the best schools in Chennai, opened its doors to its first class of 81 students in the year 2018.
					 The school offers education to students in Kindergarten through Ninth Grade. It is a CBSE affiliated school and is considered as one of the best cbse schools in Chennai.
				</p>
				<a href="/college8">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s9.jpg" alt="">
				<h3>9. St.brittos Academy</h3>
				<p>
					St.brittos Academy, one of the best schools in Chennai, was established in 1997, and is an IB World School that has entered its 25th year with pride, drawing motivation from its past successes in its pursuit of future ones. 
					It is one of the best ib schools in Chennai.
				</p>
				<a href="/college9">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s10.jpg" alt="">
				<h3>10. Abacus Montessori School</h3>
				<p>
					Abacus Montessori School is considered as one of the top schools in Chennai and is a modern Montessori institution that values a healthy mix of academic success, care for the individual student, and moral compass. 
					The school is associated with the Council for the Indian School Certificate Examinations in New Delhi and serves about 400 students in grades elementary through twelve. This is one of the best icse schools in Chennai.
				</p>
				<a href="/college10">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s11.jpg" alt="">
				<h3>11. Vidya Mandir Senior Secondary School</h3>
				<p>
                    Vidya Mandir Senior Secondary School, one of the best schools in Chennai, is a progressive institution that honors Indian values and culture while embracing the most cutting-edge methods.
				</p>
				<a href="/college11">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s12.jpg" alt="">
				<h3>12. Chennai Public School, Anna Nagar</h3>
				<p>
					Chennai Public School in Anna Nagar is one of the most popular schools today. 
					It has more than 4000 students and 200 faculty members and is promoted by the Kupidisaatham Narayanaswami Educational Trust (KNET). 
					It also has a branch in Thirumazhisai. 
					Both branches are famous for providing top-notch education to students along with facilities for activities and sports.
			</p>
				<a href="/college12">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s13.jpg" alt="">
				<h3>13. Alpha International School</h3>
				<p>
					Alpha International School, one of the top schools in Chennai, was founded in 2015, and managed by the Alpha Educational Society. The pedagogy at Alpha International School is meant to foster a progressive, student-centric approach, where teaching is linked with a dynamic and varied curriculum. 
					The school follows the CBSE curricula with international best practices in teaching and learning. This provides opportunities for pupils to go beyond the confines of a traditional curriculum. This is one of the best CBSE schools in Chennai.
				</p>
				<a href="/college13">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s14.jpg" alt="">
				<h3>14. Cps Global School</h3>
				<p>
					Cps Global School, one of the best schools in Chennai, is managed by the Kupidisaatham Narayanaswami Educational Trust, one of the world’s foremost networks of international schools. 
					The school provides two comprehensive international programs: the International Baccalaureate Diploma Programme of Geneva for grades 11 and 12, and the Cambridge Assessment International Education of the United Kingdom for classes K through 10. It is one of the best international schools in Chennai.
				</p>
				<a href="/college14">Read More</a>
			</div>
            <div class="post">
				<img src="assets\s15.jpg" alt="">
				<h3>15. Chettinad Sarvalokaa Education</h3>
				<p>
					Chettinad Sarvalokaa Education, one of the best schools in Chennai, established in 2017, is an international school located on a 10-acre campus with cutting-edge amenities in the heart of the verdant 108-acre Chettinad Health City in OMR Kelambakkam, Chennai. Sarvalokaa is a residential day and boarding school that offers the Cambridge (IGCSE) curriculum. The Cambridge Assessment Group is the parent organization. It is one of the best igcse schools in Chennai.
				</p>
				<a href="/college15">Read More</a>
			</div>
		</div>
	</section>
	<!-- Blog container ends from here -->


	<!-- Footer section starts from here -->
	<footer>
		<div class="copyright">
			<p>
				Copyright @ 2022 All rights reserved | This is made by Sandeep....
			</p>
		</div>
	</footer>
	<!-- Footer section ends from here -->

	<script>
		// Show menu links on burger click
		$('#menu-btn').click(function(){
			$('nav .navigation ul').addClass('active')
		});

		// Hide navbar on click function
		$('#menu-close').click(function(){
			$('nav .navigation ul').removeClass('active')
		});
	</script>
</body>
</html>