<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogs</title>

	<!-- JQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>


	<!-- Blog container starts from here -->
	<section id="blog-container">
		<div class="blogs">
            <h2><b>Top colleges in Chennai</b></h2>
			<div class="post">
 
				<img src="assets/b1.jpeg" alt="">
                <h4>NIRF'23 Rank: 1</h4>
				<h3>1.IIT Madras - Indian Institute of Technology</h3>
                
				<p>
                    Identified as an ‘Institute of Eminence', the Indian Institute of Technology Madras (IIT Madras or IITM) was established in 1959
                     as a public technical and research university. It is the third IIT be set up by the Government of India and is autonomous in nature.
                      Located in Chennai, Tamil Nadu, the IIT Madras campus is home to India’s first university-based research park- IITMR. IIT Madras has 
                      been consistently ranked 1 by the NIRF Rankings in 2022 for the fourth time in a row. Internationally, IIT Madras was ranked 255 in the
                      QS World University Rankings of 2022. IIT Madras, through its 16 departments, 4 national and 10 institute research centres offer 
                      more than 100 full-time/ part-time/ online courses at UG, PG, and doctoral levels across the Engineering, Science, Humanities, 
                      and Management.
				</p>
				<a href="/college1">Read More</a>
			</div>
			<div class="post">
               
				<img src="assets/b2.jpeg" alt="">
                <h4>NIRF'23 Rank: 13</h4>
				<h3>2.College of Engineering, Anna University</h3>
				<p>
					Established in 1794, College of Engineering Guindy (CEG) is an open institution that is affiliated with Anna University. It is a public-government college which is also known to be the oldest technical college in India. CEG Guindy has been ranked 17 for Engineering Colleges by NIRF 2022. Currently, 
                    CEG Guindy comprises 12 departments and various research centres to offer nine courses at UG, PG and doctoral level</p>
				<a href="/college2">Read More</a>
			</div>
            <div class="post">
             
				<img src="assets/b3.jpg" alt="">
                <h4>NIRF'23 Rank: 28</h4>
				<h3>3.SRM Institute of Science and Technology</h3>
              
				<p>
					Founded in the year 1985, SRM Institute of Science and Technology or SRM IST (formerly also known as SRM University) is a top-ranked deemed to be university that is part of the SRM Group of Institutions. Accredited by IET Engineering, the Engineering Accreditation Commission of ABET,
                     the Computing Accreditation Commission of ABET, NBA, and the NAAC with A++ Grade, SRM Chennai is approved by the UGC and AICTE. 
                     SRM University Chennai is ranked 19 under the University category by NIRF 2022. SRM Kattankulathur, through various colleges
                      and departments, offers UG, PG, PhD, diploma, and other courses to students across Management, Architecture, 
                      Engineering, and other streams. The deemed to be university also offers distance education and online courses to students.</p>
				<a href="/college3">Read More</a>
			</div>
			<div class="post">
              
				<img src="assets/b4.jpeg" alt="">
                <h4>NIRF'23 Rank: 45</h4>
				<h3>4.SSN College of Engineering</h3>
				<p>
					SSN College of Engineering (SSNCE) is a part of SSN institutions affiliated with Anna University. The institute is accredited 
                    by NBA and with A++ Grade by NAAC. Sri Sivasubramaniya Nadar College of Engineering is approved by AICTE and UGC. SSN College 
                    Chennai, through its 12 departments, offers UG and PG courses to students across the Engineering stream. SSN College of
                     Engineering has two sister institutes, namely the School of Management and the School of Advanced Career Education. 
                     SSN Engineering College is ranked 48 by NIRF 2022 for BTech.</p>
				<a href="/college4">Read More</a>
			</div>
            <div class="post">
                
				<img src="assets/b5.jpeg" alt="">
                <h4>NIRF'23 Rank: 65</h4>
				<h3>5.Loyola College, Chennai</h3>
				<p>
					Loyola College, Chennai is a Catholic Minority Institution offering admission in fields of Arts, Science, Commerce, Engineering, Management,
                     Vocational Studies & so on located in a sprawling 99-acre lush green campus at Chennai, Tamil Nadu. Accredited with Grade “A++” by NAAC, 
                     and affiliated with the University of Madras, the college provides excellent & holistic education in commerce and business education at 
                     the undergraduate, postgraduate, and research levels..</p>
				<a href="/college5">Read More</a>
			</div>
            <div class="post">
                
				<img src="assets/b6.jpeg" alt="">
                <h4>NIRF'23 Rank: 66</h4>
				<h3>6.Sathyabama Institute of Science and Technology</h3>
				<p>
					Sathyabama University was established under Section 3 of the UGC Act, 1956, and is accredited with A++ Grade by NAAC.
                    Sathyabama Institute of Science and Technology is approved by AICTE, UGC, MHRD, the Pharmacy Council of India (Pharmacy Programmes), 
                    the Bar Council of India, the Dental Council of India (Dental Programmes), the Tamilnadu Nurses and Midwives Council, and the Council 
                    of Architecture. Some of the courses are accredited by NBA. Satyabhama Chennai, through 11 schools of study, offers UG, PG, PhD, 
                    and various other courses to students. These courses are provided across Physics, Engineering, and various other streams. 
                    The deemed-to-be university is ranked 51 by NIRF 2023 under the Universities category.
				</p>
				<a href="/college6">Read More</a>
			</div>
            <div class="post">
               
				<img src="assets/b7.jpeg" alt="">
                <h4>NIRF'23 Rank: 86</h4>
				<h3>7.KCG College Of technology</h3>
				<p>
					KCG College of Technology is a Christian Minority Institution, which was founded by Dr. KCG Verghese. 
                    It offers 13 undergraduate and 4 post-graduate programs. The Undergraduate programs have Permanent
                     Affiliation under Anna University.The Post Graduate programs - Computer Science and Engineering (CSE),
                      Electronics and Communication Engineering (ECE), Information Technology (IT) and Mechanical Engineering are 
                      accredited by the National Board of Accreditation (NBA). 5 Departments –CSE, ECE, EEE, Mechanical Engineering 
                      and Physics have been approved as Research Centres by Anna University to offer PhD Programmes.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
               
				<img src="assets/b8.jpeg" alt="">
                <h4>NIRF'23 Rank: 87</h4>
				<h3>8.Vel Tech Rangarajan Dr. Sagunthala R and D Institute of Science and Technology</h3>
				<p>
					Established in 1997, Vel Tech Rangarajan Dr Sagunthala R and D Institute of Science and Technology is a deemed private university, 
                    recognised as an 'A' Grade institution by the NAAC. It is also accredited by the NBA and recognised by the AICTE. Initially, 
                    it was affiliated to the University of Madras and in 2001, the affiliation shifted to Anna University. The Institute became a 
                    Deemed-to-be university in 2008.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b9.jpeg" alt="">
				<h3>9.National Institute of Fashion Technology</h3>
				<p>
					NIFT Chennai was established in 1986 for the design, management, and technology for the International Brand. 
                    This Institute offers a four-year bachelor's degree in B.Des, B.FTech, and two-year Master Programs in M.F.M. and
                     M.FTech. Apart from these, the institute also offers diploma and certificate courses in fashion management and
                      technology. The admission is based on the entrance exam. The application process is conducted online.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b10.jpeg" alt="">
				<h3>10.Hindustan Institute of Technology and Science</h3>
				<p>
					Established in 1985, Hindustan College of Engineering was conferred the status of a university under the name Hindustan 
                    Institute of Technology and Science (HITS). It is a deemed-to-be University recognised by the UGC, the AICTE, the AIMA, 
                    the SAE International, AIAA, and is a member of AIU and is accredited by the IAO, NAAC with an 'A' Grade, and NBA. Under 
                    Architecture rankings among deemed universities in India, HITS has achieved the fourth position in India and first in Tamil 
                    Nadu. At present, the University offers more than 100 courses at UG and PG levels in diverse streams, such as Engineering, 
                    Management, Law, Humanities, Science, etc.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b11.jpeg" alt="">
				<h3>11.IIITDM Kancheepuram - Indian Institute of Information Technology Design & Manufacturing</h3>
				<p>
                    Indian Institute of Information Technology Design and Manufacturing (IIITDM) Kancheepuram, Tamil Nadu was established by 
                    Ministry of Human Resource Development (MHRD), Government of India in 2007. It is one of the two IIITDMs, the other one
                     is IIITDM Jabalpur. In July 2011, MHRD recognised IIITDM Kancheepuram as an “Institute of National Importance”. 
                     IIITDM Kancheepuram has been placed in the band "Excellent" (Rank 11-21) among Institutes of National Importance (INI) 
                     n ARIIA 2021. IIITDM provides Bachelor of Technology (BTech), Master of Technology (MTech), Intergrated BTech and MTech, 
                     MDes and Doctor of Philosophy (PhD).
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b12.jpeg" alt="">
				<h3>12.VELS Institute of Science, Technology and Advanced Studies (VISTAS)</h3>
				<p>
					VELS Institute of Science, Technology and Advanced Studies (VISTAS) is a Deemed-to-be University (VELS University) 
                    that is approved by UGC, Ministry of Human Resource Development, AICTE, BCI, PCI, NCTE, IRCLASS, Ministry of Land, 
                    Infrastructure, Transport and Tourism, and DSIR. VELS University Pallavaram is accredited by NBA and with A Grade by NAAC.
                     VELS Institute of Science Technology & Advanced Studies is ranked 34 by NIRF 2022 for Pharmacy. VELS University Chennai,
                      through around 18 schools of study and various departments, offers UG, PG, PhD, and other courses to students across 
                      Engineering, Law, and various other streams.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b13.jpeg" alt="">
				<h3>13.Chennai Institute of Technology</h3>
				<p>
					Located In Chennai, Chennai Institute of Technology is a private autonomous Engineering institute recognised by the UGC and
                     AICTE, affiliated with Anna University, Chennai. It offers UG, PG, and PhD courses across various specialisations. Out of all
                      courses, five BE courses are NBA accredited. Electronics and Communication Engineering (ECE) and Electrical and Electronics
                       Engineering (EEE) are accredited for six years and courses such as Mechanical Engineering, Mechatronics Engineering, and 
                       Computer Science Engineering are accredited for three years. At present, there are 280 faculty members and 125 are
                        doctorates.
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b14.jpeg" alt="">
				<h3>14.SRM Easwari Engineering College</h3>
				<p>
					SRM Easwari Engineering College is approved by the Government of Tamil Nadu, UGC, and AICTE and was established in the 
                    academic year 1996-1997. Initially, the SRM Eshwar College of Engineering was affiliated with the University of Madras and 
                    now it is affiliated with Anna University Chennai. SRM Easwari Engineering College is ISO certified and accredited by 
                    NBA and NAAC. SRM Easwari Engineering College, through three main and 19 sub-departments, offers more than 11 UG and six 
                    PG courses to students. The courses are provided across Engineering, Management, and various other streams. 
				</p>
				<a href="post.html">Read More</a>
			</div>
            <div class="post">
				<img src="assets/b15.jpeg" alt="">
				<h3>15. Rajalakshmi Institute of Technology</h3>
				<p>
					Established in 2008, Rajalakshmi Institute of Technology is a well-known institution for B.E. / B.Tech in the fields of 
                    Engineering. These are Full Time programs delivered by a highly experienced faculty. In line with its curriculum & teaching 
                    standards, the institute has a well-equipped Library, Hostel, Boys Hostel, Girls Hostel, Cafeteria. To ensure that students 
                    are in-line with industry trends, it provides Full Time course with 720 seats. The course is offerred to students who want to
                     study for the career in Engineering Artificial Intelligence & Machine Learning, Computer Science Engineering, Mechanical 
                     Engineering, Electronics & Communication Engineering. All in all, the Rajalakshmi Institute of Technology, is a great 
                     institution for students who wish to pursue a career in Engineering Artificial Intelligence & Machine Learning, Computer 
                     Science Engineering, Mechanical Engineering, Electronics & Communication Engineering.
				</p>
				<a href="post.html">Read More</a>
			</div>
		</div>
	</section>
	<!-- Blog container ends from here -->


	<!-- Footer section starts from here -->
	<footer>
		<div class="copyright">
			<p>
				Copyright @ 2022 All rights reserved | This is made by Sandeep....
			</p>
		</div>
	</footer>
	<!-- Footer section ends from here -->

	<script>
		// Show menu links on burger click
		$('#menu-btn').click(function(){
			$('nav .navigation ul').addClass('active')
		});

		// Hide navbar on click function
		$('#menu-close').click(function(){
			$('nav .navigation ul').removeClass('active')
		});
	</script>
</body>
</html>