<div style="margin: 30px 100px 30px 100px;">

<h1 style="text-align:center;font-size:4.5rem ;font-family: 'Kaushan Script', cursive;"><b>FORT-ST-GEORGE</b></h1>
<br>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\images\fort.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
              <button class="btn btn-secondary btn-lng"><h2>Welcome to Apollo</h2></button>
                <p></p>
                </div> -->
        </div>
        <div class="carousel-item">
            <img src="assets\images\george1.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
              <button class="btn btn-secondary btn-lng"><h2>Book an Appointment</h2></button>
                <p></p>
                
            </div> -->
        </div>
       <div class="carousel-item">
            <img src="assets\images\fort3.jpg" class="d-block w-100" alt="...">
            <!-- <div class="carousel-caption d-none d-md-block">
              <button class="btn btn-secondary btn-lng"><h2>Prevention is better than cure!</h2></button>
                <p></p>
                <button class="btn btn-danger">10000+ Heeling Hands </button>
                <button class="btn btn-primary">Advanced Treatement</button>
                <button class="btn btn-success">Best Clinical OutComes</button>
            </div> -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br><br><br>
<div style="font-size: 1.5rem;font-family: 'Kaushan Script';">


<p style="color:crimson"><b>George (or historically, White Town) is a fortress at the coastal city of Chennai, India. Founded in 1639, it was the first English (later British) fortress in India. The construction of the fort provided the impetus for further settlements and trading activity, in what was originally an uninhabited land.</b></p>
<p style="color:rgb(123, 112, 172)"><b>Today, the fort serves as the administrative headquarters of Tamil Nadu's legislative assembly as well as a base for military troops in transit to several areas of Southern India. The initial construction of the fort was concluded on April 23, 1644 CE, which is also celebrated as “St. George's Day” in several nations.</b></p>
<p style="color:rgb(20, 220, 27)"><b>A testament to the earliest English rule in the country, this was the first fortress in India built in 1644. The fort houses St. Mary's Church, the oldest Anglican church in the country, a museum and Wellesley House, named after Richard Wellesley, governor general of India.</b></p>
<p style="color:crimson"><b>The Battle of Fort George, which took place from May 25 to 27, 1813, constituted some of the fiercest fighting during the War of 1812, as British and Canadian forces attempted to prevent the American landing at Two Mile Creek.</b></p>
<p style="color:rgb(77, 20, 220)"><b>The structure of the fort is a fine example of 17th century British military architecture. The fort complex is pentagon in shape with 6 meter high walls.</b></p>

</div>
</div>