<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/assets/about.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <!--<h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>-->
                <h1 class="mb-4" style="text-align:center;"><span>About Us</span></h1>
                <h5 class="mb-4" style="text-align:justify;color:rgb(11, 11, 11);"><p> This  facilitate colleges and 
                    universities with student recruitment across all streams and degrees. With over 1000 partner colleges as its clients,
                    Collegedekho.com has 35K+ unique colleges listed on its website and offers latest information on admissions,
                    entrance tests, infrastructure, courses and careers.</p>
                   <p> This customised student outreach programme cognizant with the student needs of today and has garnered education seekers
                    from across the globe. This has assisted them with counseling and admission services to help them take admission
                    in the right college suitable to their academic background, skill-set & potential.</p>
                    <p>The Study Abroad business of CollegeDekho offers premium services to its students by providing them with all the 
                    assistance to apply to any foreign university of their choice. This helps students in the full cycle of 
                    admission to foreign universities right from student profiling, application assistance, test prep coaching & 
                    solutions to university guidance as well as accommodation, VISA and Immigration assistance. CollegeDekho has
                     helped thousands of students to get admission into their institutes of choice across USA, UK, Canada,
                      Australia, Germany, Singapore and Europe.</p>
                </h5>
                <!--<a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->