<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="assets/about.jpg" alt=""
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <!--<h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>-->
                <h1 class="mb-4" style="text-align:center;"><span>About Us</span></h1>
                <h5 class="mb-4" style="text-align:justify;color:rgb(11, 11, 11);"><p> A child's primary source of knowledge is their schooling. 
                    It allows kids the chance to learn about a variety of disciplines, including people, literature, history, maths, politics, and a host of other topics. 
                    Having additional knowledge, one is better equipped to help others.</p>
                   <p> In addition to its historical monuments and beaches, Chennai is well known for the high caliber of education it offers to young people. 
                    In the same league as Delhi, Bangalore, and Hyderabad, it is a top city for education. 
                    It is home to some of Chennai's top schools and best boarding schools. 
                    If you are wondering if Chennai has good educational institutions, you should definitely go through this blog, where we walk you through some of the best Schools in Chennai.</p>
                    
                    
                </h5>
                <!--<a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>-->
            </div>
        </div>
    </div>
</div>
<!-- About End -->