<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AboutUs</title>
</head>

<body>
    
    

  <nav class="navbar navbar-dark bg-primary">
    
   
    <div class="btn btn-success" routerLink="/aboutcity"><b>About City</b></div>
    <div class="btn btn-success" routerLink="/marinaBeach"><b>MarinaBeach</b></div>
    <div class="btn btn-warning" routerLink="/mahabalipuram"><b>Mahabalipuram</b></div>
    <div class="btn btn-danger" routerLink="/fortStGeorge"><b>Fort-St-George</b></div>
    <div class="btn btn-secondary" routerLink="/GuindyNationalpark"><b>Guindy National Park</b></div>
    <div class="btn btn-success" routerLink="/governmentmuseum"><b>Government Museum</b></div>

  </nav>
  
</body>
</html>








